%h1 Listing stands

%table
  %thead
    %tr
      %th Area
      %th Brand
      %th
      %th
      %th

  %tbody
    - @stands.each do |stand|
      %tr
        %td= stand.area
        %td= stand.brand
        %td= link_to 'Show', stand
        %td= link_to 'Edit', edit_stand_path(stand)
        %td= link_to 'Destroy', stand, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stand', new_stand_path
